* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--speed: 0.3s;
};

.container {
	width: 100vw;
	height: 100vh;
	background-color: rgb(0,0,0);
	color: #fff;
}

.slots {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
	flex: 1;
}

.slot {
	display: flex;
	flex: 1;
	flex-flow: column;
	/*border: 1px solid blue;*/
	/*box-shadow: 5px 10px 5px black;*/
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all var(--speed);
}

.slot > * {
	/*border: 1px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
}

.slot1 {
	background-image: url(../img/u_7_taeyong.jpg);
    /* background: url("https://source.unsplash.com/8hwrhX51jY8"); */
    /* background-repeat: no-repeat; */
}

.slot2 {
    background-image: url(../img/u_7_doyoung.jpg);
}

.slot3 {
    background-image: url(../img/u_7_ten.jpg);
}

.slot4 {
    background-image: url(../img/u_7_jaehyun.jpg);
}

.slot5 {
    background-image: url(../img/u_7_mark.jpg);
}

.title,.details {
	transition: all 0.1s;
	color: #fff;
	text-shadow: 0 3px 5px rgb(71, 71, 71);
	/* font-size: 2em; */
	font-weight: bold;
	text-align: center;
}

.title {
	transform: translateY(-100%);
	font-size: 4em;
}

.details {
	transform: translateY(100%);
	font-size: 1em;
}

.active {
	flex: 15;
}

.slot.open-active > *:first-child {
	transform: translateY(0);
}

.slot.open-active > *:last-child {
	transform: translateY(0);
}