body {
    background-color: black;
  }
.portfolio_block{
    vertical-align: middle;
    margin-top: 20vh;
    /* margin-bottom: 15%; */
}
  .gallery {
    max-width: 1024px;
    margin: auto;
    background-color: #000;
  }
  
  .gallery {
    padding: 2px;
    padding: 0.4vw;
    font-size: 0;
    flex-flow: row wrap;
    display: flex;
  }
  
  .gallery div {
    flex: auto;
    width: 150px;
    margin: 0.5vw;
  }
  
  .gallery div img {
    width: 100%;
    height: auto;
  }
  
  
  /*Grayscale*/
  
  img {
    filter: grayscale(100%);
    filter: saturate(0);
    transition: all .3s ease;
    /*   box-shadow: 2px 2px 5px; */
  }
  
  img:hover {
    filter: grayscale(0);
    filter: saturate(1.5);
    box-shadow: 0px 0px 5px;
  }