

body{    
    text-align: center;   
    
}
h1{
    font-family: 'Knewave';
    color:#1E1E1E;
    font-size: 55px;
}
h2{
    font-family: 'Nanum Gothic';
    color:gray;
    font-size:15px;
    margin-bottom: 5px;
}
table, tr, th, td {
    text-align: center;
    margin-bottom: 100px;
}
a{
    text-decoration:none
}

ul{
    list-style-type:none
}
.tab-menu{
    width:800px;margin:0 auto;margin-top:140px
}
.tab-menu ul{
    display:flex
}
.tab-menu li{
    flex:1;height:30px
}
.tab-menu li a{
    position:relative;
    display:block;
    width:100%;
    height:100%;
    background-color:#3a3a3a;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    line-height:30px
}
.tab-menu li a.selected{
    background-color:gray;
    cursor:default
}
.tab-container{
    width:800px;
    margin:0 auto;
    box-sizing:border-box
}
.tab-container .tab-content{
    display:none;
    padding:30px;
    height:500px;
    box-sizing:border-box
}
 .tab-container .tab-content.selected{
     display:block
    } 

img {
    margin: 50px 100px 50px 120px;
    width: 500px;
    height: 500px;
}

.movie
{
    text-align: center;
}
.text
{
    text-align: center;
}
.items {
  border:solid 1px gray;
  float:center;
  margin:1px;
}
.items img {
  display:block;
}
.clear {
  clear:left;
}

.snip1273 {
    text-align: center;
    font-family:'Knewave';
    position: relative;
    margin: 10px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    background-color: #000000;
    font-size: 16px;
  }
  .snip1273 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .snip1273 img {
    position: relative;
    max-width: 100%;
    vertical-align: top;
  }
  .snip1273 figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width:auto;
    height:auto;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
  }
  .snip1273 figcaption:before,
  .snip1273 figcaption:after {
    width: 1px;
    height: 0;
  }
  .snip1273 figcaption:before {
    right: 0;
    top: 0;
  }
  .snip1273 figcaption:after {
    left: 0;
    bottom: 0;
  }
  .snip1273 h3,
  .snip1273 p {
    line-height: 1.5em;
  }
  .snip1273 h3 {
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .snip1273 p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 15px;
  }
  .snip1273 a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .snip1273:before,
  .snip1273:after,
  .snip1273 figcaption:before,
  .snip1273 figcaption:after {
    position: absolute;
    content: '';
    background-color: #ffffff;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0.8;
  }
  .snip1273:before,
  .snip1273:after {
    height: 1px;
    width: 0%;
  }
  .snip1273:before {
    top: 0;
    left: 0;
  }
  .snip1273:after {
    bottom: 0;
    right: 0;
  }
  .snip1273:hover img,
  .snip1273.hover img {
    opacity: 0.4;
  }
  .snip1273:hover figcaption,
  .snip1273.hover figcaption {
    opacity: 1;
  }
  .snip1273:hover figcaption:before,
  .snip1273.hover figcaption:before,
  .snip1273:hover figcaption:after,
  .snip1273.hover figcaption:after {
    height: 100%;
  }
  .snip1273:hover:before,
  .snip1273.hover:before,
  .snip1273:hover:after,
  .snip1273.hover:after {
    width: 100%;
  }
  .snip1273:hover:before,
  .snip1273.hover:before,
  .snip1273:hover:after,
  .snip1273.hover:after,
  .snip1273:hover figcaption:before,
  .snip1273.hover figcaption:before,
  .snip1273:hover figcaption:after,
  .snip1273.hover figcaption:after {
    opacity: 0.1;
  }
  
  