@import url('https://fonts.googleapis.com/css?family=Roboto');
*{margin:0;padding:0}
body{font-family:'Roboto', sans-serif}
.blind{display:none;visibility:hidden}
.section-container{position:relative;width:100%;height:100vh}
.section-container .section-content{max-width:1440px;height:100%;margin-right:auto;margin-left:auto;padding-right:40px;padding-left:40px}
.section-container .section-content ul{position:relative;top:50%;margin-right:-20px;margin-left:-20px;transform:translateY(-50%)}
.section-container .section-content li{display:inline-block;width:25%;padding-right:20px;padding-left:20px;vertical-align:top;box-sizing:border-box}
.section-container .section-content li a{display:block}
.section-container .section-content li img{display:inline-block;width:100%;vertical-align:top}
#cursor-dot,#cursor-bg,#progress{overflow:hidden;position:fixed;top:50%;left:50%;box-sizing:border-box;transform:translateX(-50%) translateY(-50%);pointer-events:none}
#cursor-dot{z-index:600;width:4px;height:4px;border-radius:50%;background-color:#f00;transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out}
#cursor-dot.active{width:8px;height:8px;background-color:#fff}
#cursor-bg{z-index:400;width:30px;height:30px;border:1px solid #fff;border-radius:50%;transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out,border-color 200ms ease-in-out}
#progress{z-index:500;color:#fff;width:30px;height:30px;border-radius:50%;transition:width 200ms ease-in-out}
/* #cursor-bg.active{width:60px;height:60px;background-color:#fff;border-color:#fff;mix-blend-mode:difference} */
#cursor-bg.active{width:60px;height:60px;background-color:rgba(255,0,0,0.8);border-color:rgba(255,0,0,0.8);mix-blend-mode:saturation}
#progress.active{width:60px;height:60px}
#progress span{display:block;position:absolute;top:50%;left:50%;text-align:center;transform:translateX(-50%) translateY(-50%)}
#progress.active span::after{content:'select';text-transform:uppercase;font-size:10px;line-height:16px;opacity:0;transition:opacity 200ms ease-in-out}
#progress.active span::after{opacity:1.0}
