@import url('https://fonts.googleapis.com/css?family=Roboto');
    *{margin:0;padding:0}
    body{font-family:'Roboto', sans-serif}
    a{text-decoration:none}
    ul{list-style-type:none}
    .tab-menu{width:1920px;margin:0 auto}
    .tab-menu ul{display:flex}
    .tab-menu li{flex:1;height:30px}
    .tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:rgb(0, 0, 255);text-transform:uppercase;text-align:center;color:#fff;line-height:30px}
    .tab-menu li a.selected{background-color:rgb(0, 0, 255);cursor:default}
    .tab-container{width:1920px;margin:0 auto;border:0px solid #000;box-sizing:border-box}
    .tab-container .tab-content{display:none;padding:0px;height:auto;box-sizing:border-box;background-color:rgb(0, 0, 255)}
    .tab-container .tab-content.selected{display:block} 


    html,
    body {
      margin: 0;
      padding: 0;
    }
    html .ocean,
    body .ocean {
      background: linear-gradient(180deg, blue, navy);
      height: 100vh;
      display: flex;
      overflow: hidden;
    }
    body .ocean1 {
        background: linear-gradient(180deg, blue, navy);
        margin-top: 0px;
        margin-left: 16.5%;
      }
    html .ocean .jellyfish,
    body .ocean .jellyfish {
      oveflow: hidden;
      margin: 400px;
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 105, 180, 0.59);
      width: 150px;
      height: 120px;
      border-top-left-radius: 45%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 25%;
      border-bottom-right-radius: 25%;
      border-left: 1px solid hotpink;
      border-right: 1px solid hotpink;
      border-top: 1px solid hotpink;
      border-bottom: none;
      align-items: center;
      animation: swim 2s infinite alternate, bodyColorChange 2s infinite alternate;
      position: relative;
      z-index: 99;
      transition: all 1s ease;
    }
    html .ocean .jellyfish:before,
    body .ocean .jellyfish:before {
      content: "";
      background-color: rgba(255, 105, 180, 0.49);
      width: 70px;
      height: 20px;
      border-radius: 100%;
      animation: bodyColorChange 2s infinite alternate;
    }
    html .ocean .jellyfish .legs,
    body .ocean .jellyfish .legs {
      display: flex;
      height: 50px;
      width: 100%;
      margin-top: 70px;
    }
    html .ocean .jellyfish .legs .leg,
    body .ocean .jellyfish .legs .leg {
      margin: auto;
      height: 100px;
      width: 10px;
      border-top: none;
      border-left: 1px solid hotpink;
      border-right: 1px solid hotpink;
      background-color: rgba(255, 105, 180, 0.25);
      border-bottom-left-radius: 30%;
      border-bottom-right-radius: 30%;
      position: relative;
      z-index: 1;
      animation: legs 2s infinite alternate, legsColorChange 2s infinite alternate;
    }
    
    @keyframes swim {
      0% {
        transform: translateY(50px);
        transform: translateX(-90px);
        height: 120px;
      }
      100% {
        transform: translateY(-50px);
        height: 80px;
      }
    }
    @keyframes legs {
      0% {
        height: 100px;
      }
      100% {
        height: 40px;
      }
    }
    @keyframes bodyColorChange {
      0% {
        background-color: rgba(250, 128, 114, 0.59);
        border-left: 1px solid salmon;
        border-right: 1px solid salmon;
      }
      100% {
        background-color: rgba(255, 105, 180, 0.59);
        border-left: 1px solid hotpink;
        border-right: 1px solid hotpink;
      }
    }
    @keyframes legsColorChange {
      0% {
        border-left: 1px solid salmon;
        border-right: 1px solid salmon;
      }
      100% {
        border-left: 1px solid hotpink;
        border-right: 1px solid hotpink;
      }
    }
    
/* 여기까지 tab 1 */
  
  .water {
    position: absolute;
    width:100%;
    height:100%;
     background-image:
      linear-gradient(
        180deg, blue, navy
      );
  }
  
  
  .fish {
    position: absolute;
    left:10%;
    width:80%;
    height:100%;
    animation-name: fish;
      -webkit-animation-name: fish;
      animation-duration: 5s;	
      -webkit-animation-duration: 5s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
  }
  
  .face {
    position:absolute;
    background-color:#dc9997;
    background-image:
      linear-gradient(
        #dc9997 60%, #927dad
      );
    top:25%;
    left:25%;
    width:50%;
    height:50%;
      animation-name: face;
      -webkit-animation-name: face;
      animation-duration: 5s;	
      -webkit-animation-duration: 5s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
  }
  
  
  
  .mouth{
      position:absolute;
      overflow:hidden;
      background-color:#ae88a5; 
      background: radial-gradient( ellipse at bottom, #8e6784, #a17b98);
      left:20%;
      top:75%;
      width:60%;
      height:15%;
      border-radius:50% 50% 50% 50% / 70% 70% 30% 30% ;
  }
  
  
  .mouth:after {
      content: " ";
      position:absolute;
      top:30%;
      left:10%;
      width: 80%;
      height: 100%; 
      border-radius:50% 50% 50% 50% / 70% 70% 30% 30% ;
      border-top:.5em solid  #4f2744;
  }
  
  
  
  .nose{
    position:absolute;
    background-color:#dc9997;
    top:50%;
    left:25%;
    width:50%;
    height:35%;
  border-radius:50% 50% 50% 50% / 30% 30% 70% 70% ;
  }
  
  .nose:before, .nose:after {
        position:absolute;
        content: " ";
        width: .75em;
        height: 1em;
        border-radius: 50%;
        background: #231119;
        position: absolute;
  }
  
  .nose:before {
        top: 0%;
        left:-.8em;
        -webkit-transform: (8deg);
        -moz-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        transform: rotate(8deg); 
  }
  
  .nose:after{
        top: 0%;
        left:100%;
        -webkit-transform: (-8deg);
        -moz-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        transform: rotate(-8deg); 
  }
  
  .right-fin, .left-fin{ 
        width: 4em;
        height: 1.5em;
        z-index:-1;
        background: #ae88a5;
        border-radius: 50% 50% 50% 50% / 70% 70% 30% 30% ;
        position: absolute;
  }
  
  .left-fin{ 
        top: 60%;
        left:-2.5em;
        -webkit-transform: (10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg); 
        animation-name: fin-left;
        -webkit-animation-name: fin-left;
        animation-duration: 5s;	
        -webkit-animation-duration: 5s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
  }
  
  .right-fin{ 
        top: 60%;
        right:-2.5em;
        -webkit-transform: 
          (-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg); 
      animation-name: fin-right;
        -webkit-animation-name: fin-right;
        animation-duration: 5s;	
        -webkit-animation-duration: 5s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
  }
  
  @keyframes fish{
      0% {
          transform: translateY(0%);	
      
      }
      50% {
          transform: translateY(-5%);	
      }	
      100% {
          transform: translateY(0%);
      }			
  }
  
  @-webkit-keyframes fish {
      0% {
          -webkit-transform: translateY(0%);	
      }
      50% {
          -webkit-transform: translateY(-5%);	
      }	
      100% {
          -webkit-transform: translateY(0%);
      }			
  }
  
  @keyframes face{
      0% {
    border-radius:50% 50% 50% 50% / 80% 80% 20% 20% ;
      }
      50% {
      border-radius:50% 50% 50% 50% / 60% 60% 40% 40%;
      }	
      100% {
    border-radius:50% 50% 50% 50% / 80% 80% 20% 20% ;
  }
  }
  @-webkit-keyframes face {
      0% {
   -webkit-border-radius:50% 50% 50% 50% / 80% 80% 20% 20% ;
      }
      50% {
     -webkit-border-radius:50% 50% 50% 50% /  60% 60% 40% 40%;;
      }	
      100% {
    -webkit-border-radius:50% 50% 50% 50% / 80% 80% 20% 20% ;
      }			
  }
  
  @keyframes fin-left {
      0% {
          transform: rotate(0deg);	
      }
      50% {
          transform: rotate(-20deg);	
      }	
      100% {
          transform: rotate(0deg);
      }			
  }
  
  @-webkit-keyframes fin-left {
      0% {
          -webkit-transform: rotate(0deg);	
      }
      50% {
          -webkit-transform: rotate(-20deg);	
      }	
      100% {
          -webkit-transform: rotate(0deg);
      }			
  }
  
  @keyframes fin-right {
      0% {
          transform: rotate(0deg);	
      }
      50% {
          transform: rotate(20deg);	
      }	
      100% {
          transform: rotate(0deg);
      }			
  }
  
  @-webkit-keyframes fin-right {
      0% {
          -webkit-transform: rotate(0deg);	
      }
      50% {
          -webkit-transform: rotate(20deg);	
      }	
      100% {
          -webkit-transform: rotate(0deg);
      }			
  }
  
  
  @media (min-aspect-ratio: 3/1) {
    body {
      font-size:8px;
    }
    
    .fish{
      top:10%;
      left:30%;
      width:40%;
      height:80%;
    }
  }
  
  @media (max-aspect-ratio: 1/2) {
    body {
      font-size:8px;
    }
    
    .fish{
      top:30%;
      left:10%;
      width:80%;
      height:40%;
    }
  }


  /* ㅇ여기까지 방시혁 */

  .space {
  padding: 400px 100px 0px 50px;
}

/* Work. */
.microphone {
  width: 501px;
  margin: 0 auto;
}

@media screen and (max-width: 691px) {
  .microphone {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 616px) {
  .microphone {
    -webkit-transform: scale(0.81);
            transform: scale(0.81);
  }
}
@media screen and (max-width: 569px) {
  .microphone {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@media screen and (max-width: 541px) {
  .microphone {
    -webkit-transform: scale(0.69);
            transform: scale(0.69);
  }
}
.box {
  width: 295px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.filter {
  height: 426px;
  width: 289px;
  background: linear-gradient(to right, #323232 0%, #b7b8ba 16%, #dedede 26%, #b7b8ba 35%, #454648 50%, #b7b8ba 65%, #dedede 74%, #b7b8ba 84%, #323232 100%);
  border-radius: 150px 150px 0 0;
  margin: 0 0 0 3px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.filter-shadow {
  position: absolute;
  height: 426px;
  width: 289px;
  box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.66), inset 0 26px 15px -10px rgba(0, 0, 0, 0.66);
  border-radius: 150px 150px 0 0;
}

.filter .blaze {
  width: 66px;
  height: 76px;
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 66%);
  border-radius: 100%;
  margin: 50px 0 0 40px;
  -webkit-transform: rotate(46deg);
          transform: rotate(46deg);
}

.filter .hole {
  width: 16px;
  height: 16px;
  background: #000000;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.66);
  border-radius: 100%;
  margin: 0 0 6px 0;
}

.filter .columns-box {
  display: flex;
  flex-flow: row nowrap;
  width: 299px;
  margin: 0 0 0 -5px;
  justify-content: space-between;
}

.filter .column {
  padding: 0 0 0 0;
}

.filter .column:nth-child(even) {
  margin: -12px 0 0 0;
}

.filter .column:nth-child(1) .hole,
.filter .column:nth-child(15) .hole,
.filter .column:nth-child(16) .hole {
  width: 12px;
}

.filter .column:nth-child(2) .hole,
.filter .column:nth-child(14) .hole {
  width: 13px;
}

.filter .column:nth-child(3) .hole,
.filter .column:nth-child(13) .hole {
  width: 14px;
}

.filter .column:nth-child(4) .hole,
.filter .column:nth-child(5) .hole,
.filter .column:nth-child(11) .hole,
.filter .column:nth-child(12) .hole {
  width: 15px;
}

.filter .column:nth-child(6) .hole,
.filter .column:nth-child(9) .hole,
.filter .column:nth-child(10) .hole,
.filter .column:nth-child(7) .hole,
.filter .column:nth-child(8) .hole {
  width: 16px;
}

.underfilter {
  width: 295px;
  height: 41px;
  background: #000000;
  background: linear-gradient(to right, #050505 0%, #828282 19%, #343434 24%, #080808 50%, #343434 76%, #828282 81%, #050505 100%);
  margin: 95px 0 0 -3px;
  position: absolute;
  z-index: 6;
}

.underfilter:before,
.underfilter:after {
  content: '';
  display: block;
  position: absolute;
  width: 295px;
  height: 4px;
}

.underfilter:before {
  margin: -4px 0 0 0;
  border-radius: 4px 4px 0 0;
  background: linear-gradient(to right, #181818 0%, #181818 5%, #b5b5b5 25%, #414141 31%, #414141 50%, #414141 67%, #b5b5b5 72%, #181818 95%, #181818 100%);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.09), inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
}

.underfilter:after {
  margin: 41px 0 0 0;
  border-radius: 0 0 4px 4px;
  background: #1a1a1a;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 0 rgba(255, 255, 255, 0.02);
}

.mbody {
  height: 376px;
  width: 289px;
  border-radius: 0 0 150px 150px;
  background: #161616;
  margin: -95px 0 0 3px;
  box-shadow: inset 0 0 66px 29px #000000, inset 0 0 16px 66px #949494, inset 0 0 100px 50px #343434;
  overflow: hidden;
}

.mbody .line {
  background: linear-gradient(to right, #868686 0%, #eeeeee 20%, #d1d1d1 26%, #525252 50%, #d1d1d1 74%, #eeeeee 80%, #868686 100%);
  height: 10px;
  width: 289px;
  /*   position: absolute; */
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.16), inset 1px 0 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 0 rgba(0, 0, 0, 0.2), inset 0 2px 1px 0 rgba(255, 255, 255, 0.2);
}

.mbody .line.line1 {
  margin: 146px 0 0 0;
}

.mbody .line.line2 {
  margin: 44px 0 0 0;
}

.mbody .line.line6 {
  margin: 44px 0 0 0;
}

.box-stand {
  position: absolute;
  z-index: 1;
  width: 406px;
  margin: 412px 0 0 49px;
}

.mount {
  width: 406px;
  height: 29px;
  margin: 21px 0 0 0;
  background: linear-gradient(to bottom, #b8bab9 0%, #d6d7d9 16%, #8b8c8e 40%, #515254 50%, #8b8c8e 60%, #d6d7d9 84%, #b8bab9 100%);
}

.mount:before,
.mount:after {
  content: '';
  display: block;
  width: 4px;
  height: 36px;
  position: absolute;
  background: linear-gradient(to bottom, #b8bab9 0%, #d6d7d9 16%, #8b8c8e 40%, #515254 50%, #8b8c8e 60%, #d6d7d9 84%, #b8bab9 100%);
}

.mount:before {
  margin: -4px 0 0 50px;
}

.mount:after {
  margin: -4px 0 0 349px;
}

.mount-rounder {
  width: 19px;
  height: 69px;
  position: absolute;
  margin: -19px 0 0 0;
  background: linear-gradient(to bottom, #a7a8aa 0%, #e6e7e9 26%, #515558 50%, #e6e7e9 84%, #a7a8aa 100%);
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.26), inset -1px 0 0 0 rgba(0, 0, 0, 0.26);
}
.mount-rounder:before {
  content: '';
  display: block;
  width: 19px;
  height: 1px;
  background: rgba(0, 0, 0, 0.46);
  position: absolute;
  box-shadow: 0 3px 0 0px rgba(0, 0, 0, 0.41), 0 4px 0 0px rgba(0, 0, 0, 0.46), 0 8px 0 0 rgba(0, 0, 0, 0.41), 0 9px 0 0 rgba(0, 0, 0, 0.46), 0 10px 0 0 rgba(0, 0, 0, 0.29), 0 14px 0 0 rgba(0, 0, 0, 0.41), 0 15px 0 0 rgba(0, 0, 0, 0.66), 0 16px 0 0 rgba(0, 0, 0, 0.46), 0 20px 0 0 rgba(0, 0, 0, 0.41), 0 21px 0 0 rgba(0, 0, 0, 0.6), 0 22px 0 0 rgba(0, 0, 0, 0.6), 0 26px 0 0 rgba(0, 0, 0, 0.66), 0 27px 0 0 rgba(0, 0, 0, 0.59), 0 28px 0 0 rgba(0, 0, 0, 0.49), 0 32px 0 0 rgba(0, 0, 0, 0.66), 0 33px 0 0 rgba(0, 0, 0, 0.61), 0 34px 0 0 rgba(0, 0, 0, 0.59), 0 38px 0 0 rgba(0, 0, 0, 0.56), 0 39px 0 0 rgba(0, 0, 0, 0.46), 0 40px 0 0 rgba(0, 0, 0, 0.6), 0 44px 0 0 rgba(0, 0, 0, 0.56), 0 45px 0 0 rgba(0, 0, 0, 0.49), 0 46px 0 0 rgba(0, 0, 0, 0.51), 0 50px 0 0 rgba(0, 0, 0, 0.49), 0 51px 0 0 rgba(0, 0, 0, 0.48), 0 52px 0 0 rgba(0, 0, 0, 0.51), 0 56px 0 0 rgba(0, 0, 0, 0.48), 0 57px 0 0 rgba(0, 0, 0, 0.46), 0 58px 0 0 rgba(0, 0, 0, 0.46), 0 61px 0 0 rgba(0, 0, 0, 0.46), 0 62px 0 0 rgba(0, 0, 0, 0.41), 0 65px 0 0 rgba(0, 0, 0, 0.46), 0 66px 0 0 rgba(0, 0, 0, 0.46), 0 68px 0 0 rgba(0, 0, 0, 0.41);
}
.mount-rounder.rightrounder {
  margin: -19px 0 0 387px;
}

.mount-rounder:after {
  content: '';
  display: block;
  position: absolute;
  margin: 0 0 0 -6px;
  background: #FFFFFF;
  box-shadow: inset 0 0 25px 2px rgba(0, 0, 0, 0.81);
  width: 16px;
  height: 69px;
  border-radius: 100%;
  z-index: -6;
}

.mount-rounder.rightrounder:after {
  margin: 0 0 0 10px;
}

/* 마이크 */
