/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*---------------------------------------------------- reset -------------------------------------------------------*/
/*
.gallery{margin-right:auto;margin-left:auto;padding-top:10%;}
.view{overflow:hidden;position:relative}
.gallery .view .view-container{top:0;left:0;width:100%;height:100%}
.gallery .view-container .view-item{float:left;width:100%;height:100%}
.gallery .view-container::after{content:"";display:block;position:relative;clear:both}
.view-item img{width:400px;display:inline-block;vertical-align:top}
*/
@font-face{
     font-family:myfirstfont;
     src: url(../font/Memories.ttf);
}

.wrap{background-color:#7993db;height:100vh;}
h2{font-family:myfirstfont;color:#0e1322;font-weight:400;z-index:2;font-size:150px;position:fixed;margin-left:55%;margin-top:5%;}
h3{font-family:myfirstfont;color:#0e1322;font-size:20px;text-align: center;padding-top:50px;}

.gallery{width:500px;margin-right:auto;margin-left:auto;padding-top:120px}
.gallery .view{overflow:hidden;position:relative;width:500px;height:500px}
.gallery .view .view-container{position:absolute;top:0;left:0;width:100%;height:100%}
.gallery .view-container .view-item{float:left;width:100%;height:100%}
.gallery .view-container::after{content:"";display:block;position:relative;clear:both}
.gallery .view-item img{display:inline-block;width:100%;vertical-align:top}


.list{width:97px;margin-top:20px;margin-right:auto;margin-left:auto;}
.circle{width:10px;height:10px;border:2px solid #080630;border-radius:50%;}
.list li{display:inline-block;padding-right:5px;padding-left:5px;vertical-align:top;}
.list li a{display:block;position:relative;width:100%;cursor:pointer}
.list li a img{display:inline-block;width:100%;vertical-align:top}

.list li a::before{content:"";display:block;position:absolute;
     -webkit-transition: border 120ms ease-in-out;
     -moz-transition:border 120ms ease-in-out;
     -o-transition:border 120ms ease-in-out;
     -ms-transition:border 120ms ease-in-out
     }
.list li.selected a{cursor:default}
/*.list li.selected a::before{opacity:1.0}*/
.list li.selected a::before{width:10px;height:10px;border:2px solid #080630;background:#080630;border-radius:50%;}
.list li a:hover::before,
.list li.selected a::before{width:10px;height:10px;border:2px solid #080630;background:#080630;border-radius:50%;}

.blind{display:none;visibility:hidden}
#cursor-dot,#cursor-bg,#progress{overflow:hidden;position:fixed;top:50%;left:50%;box-sizing:border-box;transform:translateX(-50%) translateY(-50%);pointer-events:none}
#cursor-dot{z-index:600;width:4px;height:4px;border-radius:50%;background-color:rgb(0, 0, 0)}
#cursor-bg{z-index:400;width:30px;height:30px;border:1px solid #fff;border-radius:50%;transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out,border-color 200ms ease-in-out}
#progress{z-index:500;color:#fff;width:30px;height:30px;border-radius:50%;transition:width 200ms ease-in-out}
#cursor-bg.active{width:60px;height:60px;background-color:#7993db;border-color:#fff;mix-blend-mode:difference}
#progress.active{width:60px;height:60px}
#progress span{display:block;position:absolute;top:50%;left:50%;text-align:center;transform:translateX(-50%) translateY(-50%)}
#progress.active span::after{content:'●';text-transform:uppercase;font-size:10px;line-height:16px;opacity:0;transition:opacity 200ms ease-in-out}
#progress.active span::after{opacity:1.0}


