@import url('https://fonts.googleapis.com/css?family=Roboto');
*{margin:0;padding:0}
body{font-family:'Roboto', sans-serif}
#wrap{width:100%;height:300vh}
#btn-top{position:fixed;right:20px;bottom:20px;width:40px;height:46px;border-radius:4px;text-align:center;box-shadow:0 1px 2px rgba(0,0,0,0.2)}
#btn-top span{display:inline-block;position:relative;margin-top:8px;padding-top:10px;vertical-align:top;text-transform:uppercase;color:#000;font-size:12px;font-weight:700;line-height:20px}
#btn-top span::before{content:"";display:block;position:absolute;top:4px;left:50%;width:5px;height:5px;margin-right:-4px;margin-bottom:-4px;margin-left:-4px;border-top:2px solid #000;border-left:2px solid #000;transform:rotate(45deg);transform-origin:center center}
#btn-top span::after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:0;border-top:2px solid #000}