


    @import url('https://fonts.googleapis.com/css?family=Roboto');
    *{margin:0;padding:0}
    body{font-family: 'Fjalla One', sans-serif; }
    a{text-decoration:none}
    ul{list-style-type:none}

    #main-logo{
        text-align: center;
        margin-top:40px;
    }
    .tab-menu{
        width:1200px;
        height: 50px;
        margin:0 auto;
        /* margin-top:0px; */
        /* background-color:  #BFFF00; */
    }
    .tab-menu ul{
        display:flex
    }
    .tab-menu li{flex:1;height:50px}

    a:hover {
        /* color:#98ff98; */
    }
    .tab-menu li a{
        /* position:relative; */
        display:block;
        width:100%;
        height:100%;
        background-color:#fff;
        text-transform:uppercase;
        text-align:center;
        color:gray;
        line-height:50px;
        font-size : 35px;
        font-family: 'Squada One', cursive;;
    }
    
    .tab-menu li a.selected{
        background-color:#B1Fb17;
        color: #fff;
        /* border :solid 2px #BFFF00; */
        cursor:default
    }

    .tab-container{width:1200px; height: 620px;margin:0 auto;border:2px solid #B1Fb17 ;box-sizing:border-box; margin-bottom: 100px;}
    
    .tab-container .tab-content{display:none;padding:30px;height:500px;box-sizing:border-box}
    
    .tab-container .tab-content.selected{display:block} 

    /* 메뉴1 내용 */

    #main-00 {
        /* text-align: center; */
        margin: 0 0 0  200px ;
    }
    #menu-01{
        /* margin:  */
        width: 550px;
        float: left;
    }
    .sub-con{
        margin: 120px 0 0 20px;
        float: left;
        line-height: 40px;
        font-size:14px;
        color: #444444;
    }
   
    #youtube{
        margin: 0px 0 0 190px;    
    }
    #img01{
        margin: 100px 0 0 25px;
    }
    

    .tab-content img{
        padding : 0 0 0 20px;
    }
    #sub1{
        float:left;
        margin :10px 0 0 120px;
    }#sub2{
        float:left;
        margin :10px 0 0 170px;
    }#sub3{
        float:left;
        margin :10px 0 0 160px;
    }