@import url('https://fonts.googleapis.com/css?family=Roboto');
*{margin:0;padding:0}
body{background-color: #fff; color: #333;}
a{text-decoration:none}
ul{list-style-type:none}

.tab-menu{width:800px;margin:0 auto;margin-top:50px}
.tab-menu ul{display:flex}
.tab-menu li{flex:1;height:30px}

.tab-menu li a{
  position:relative;
  display:block;
  width:100%;
  height:100%;
  background-color:#2b65a1;
  text-transform:uppercase;
  text-align:center;
  color:#fff;
  line-height:30px}

.tab-menu li a.selected{
  background-color:#acb7ce;
  cursor:default}

.tab-container{
  width:800px;
  margin:0 auto;
  
  box-sizing:border-box}

.tab-container .tab-content{
  display:none;
  padding:30px;
  height:570px;
  box-sizing:border-box;
  background-color: #acb7ce;
}

.tab-container .tab-content.selected{display:block} 

.title{
    text-align: center;
    font-size: 30px;
    margin: 0 0 20px 0;
}

.tab-container p{
    padding: 20px 0 0 0;
}

h1{
    padding: 10px 0 0 ;

    color: #155ba0;
    font-size: 50px;
    text-align: center;
    text-shadow: #e8b4aa 4px 4px 0px;
}
 
 img{
    width: 90%;
    margin: auto;
} 

#tal{
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    color: #333;
}

#tal td{
    padding: px;
}