@charset "UTF-8";

/****************/
/**** Reset. ****/
/****************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,progress,video{display:inline-block}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{font-size:100%;vertical-align:middle}
select{background-color:transparent}
button{border:0 none;outline:none;background-color:transparent;cursor:pointer;overflow:hidden}
table{border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{border-radius:0;font-family:'Apple SD Gothic Neo','Malgun Gothic','Dotum','Helvetica','Helvetica Neue','Arial','Verdana',sans-serif;-webkit-appearance:none;-moz-appearance:none;appearance:none}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{color:#111;text-decoration:none}
#oot.black a{color:rgba(255,255,255,0.6)}
a:active,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
i{font-style:normal}
a,button{position:relative;cursor:pointer;-webkit-tap-highlight-color:transparent}
iframe{overflow-x:hidden}
strong,b{font-weight:600}
*::-webkit-input-placeholder{color:#000 !important}
*:-moz-placeholder{color:#000 !important}
*::-moz-placeholder{color:#000 !important}
*:-ms-input-placeholder{color:#000 !important}

body{position:relative;width:100%;
    
    min-height:300vh;
    
    font-family:'Apple SD Gothic Neo','Malgun Gothic','Dotum','Helvetica','Helvetica Neue','Arial','Verdana',sans-serif;font-size:12px;line-height:18px}
.blind{display:none;visibility:hidden}
h1{padding:20px;font-size:16px;line-height:22px}
hr{margin-bottom:20px}
#mouse{overflow:hidden;width:400px;padding:20px;font-size:18px;font-weight:600;line-height:24px;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    cursor:pointer;
    /*
    transition 스타일
    : 해당 요소에 애니메이션 설정을 부여한다.

    transition-property:all;
    transition-duration:200ms;
    transition-delay:none;
    transition-timing-function:ease-in-out;
    */
    /* 축약형 */
    transition:all 300ms ease-in-out;
    /* transition:width 200ms ease-in-out,color 300ms ease-in-out,background-color 200ms ease-in-out; */
    /*
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -o-transition:all 200ms ease-in-out;
    -ms-transition:all 200ms ease-in-out
    */
    border:5px solid transparent
}
.mouse1{color:red;background-color:blue;
border-radius:50px}
#mouse.mouse1{width:500px;padding-left:50px;padding-right:50px}
.mouse2{text-decoration:line-through}
#mouse.mouse3{background-color:gray;
    color:#fff;
    /* border:5px solid #000 */
    border-color:#000
}
#select-numbers{padding:20px}
#select-numbers::after{content:'';display:block;clear:both}
#select-numbers .radio{float:left}
#select-numbers .radio + .radio{padding-left:20px}
.radio input,.radio label{display:inline-block;vertical-align:middle;cursor:pointer}
.radio label{padding-left:10px;font-size:14px;font-weight:600;line-height:22px}
#select-input{padding:20px}
#select-input label,#select-input input{display:inline-block}
#select-input input{margin-left:10px;border:1px solid #888}
.row + .row{padding-top:15px}

#select-browsers{padding:20px;
    transition:all 250ms ease-in-out
}
#select-browsers.active{
    padding:80px;
    background-color:black;
}

#div{display:block;margin-top:20px;padding:20px;background-color:#000;color:#fff}
#p{display:block;padding:20px;background-color:#444;color:#fff}
#span{display:block;padding:20px;background-color:#888;color:#fff}