@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block
}
body{
	line-height:1
}
ol,ul{
	list-style:none
}
blockquote,q{
	quotes:none
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:'';
	content:none
}
table{
	border-collapse:collapse;
	border-spacing:0
}

body{font-family: 'Nanum Gothic', sans-serif;color:rgb(44, 44, 44);}
a{text-decoration:none}
ul{list-style-type:none}

#izone{cursor:default;transition:all 200ms ease-in-out;margin-top:30px;color:#a67dc7;text-align:center;font-size:50px;font-family: 'Merriweather', serif;}
#izone:hover{color:#5b2779;text-decoration:underline;}
.tab-menu{width:1000px;margin:0 auto;margin-top:50px; }
.tab-menu ul{display:flex}
.tab-menu li{width:100px;height:30px;border:1px solid #cfa5ff; }
.tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:rgb(224, 217, 255);text-transform:uppercase;text-align:center;color:rgb(124, 77, 255);line-height:30px}
.tab-menu li a.selected{background-color:rgb(172, 153, 255);color:rgb(255, 255, 255);cursor:default}
.tab-container{box-shadow:0px 0px 10px  #bfaae5;width:1000px;margin:0 auto;border:1px solid #cfa5ff;box-sizing:border-box}
.tab-container .tab-content{display:none;padding:30px;padding-top:30px;height:500px;box-sizing:border-box}
.tab-container .tab-content.selected{display:block} 
.tab-content{overflow:auto;}



.tomi{z-index:-1;}
#tomi-title{
     transition:all 200ms ease-in-out;
     font-family: 'Merriweather', serif;
     color:#4d1a6e;
     font-size:60px;
     z-index:1;
     display:inline-block;
     margin-left:40%;
     margin-top:0;
}
p{line-height:200%;}
.txt{margin-right:7%; margin-top:30px;}
.tomi-title1{background-color:#fff48f;cursor:pointer;padding-left:30px;}
.tomi2{display:inline-block;}
.tomi3{display:inline-block;}

.center{text-align:center;margin-top:40px;}
.big{width:330px; height:470px;}

#eb-title{
     transition:all 200ms ease-in-out;
     font-family: 'Merriweather', serif;
     color:#4d1a6e;
     font-size:60px;
     z-index:1;
     display:inline-block;
     margin-top:0;
}
.eunbi{float:right;}
.eb-title1{background-color:#ead3ff;cursor:pointer;padding-left:30px;}
.txte{display:inline-block; margin-left:90px;}

.nako{float:right;margin:10px;}
#nako-title{
     transition:all 200ms ease-in-out;
     font-family: 'Merriweather', serif;
     color:#1a2e6e;
     font-size:60px;
     z-index:1;
     display:inline-block;
     margin-top:0;
     margin-left:50px;
}
.txtnk{float:left;}
.nako-title1{background-color:#a3d6ff;cursor:pointer;padding-left:30px;}

#hw-title{
     transition:all 200ms ease-in-out;
     font-family: 'Merriweather', serif;
     color:#4b1616;
     font-size:60px;
     z-index:1;
     display:inline-block;
     margin-top:0;
}
.hw-title1{background-color:#ffa0a0;cursor:pointer;padding-left:30px;}

.txth{float:right;padding-right:130px;}

