html, body {
    margin: 0;
    padding: 0;
    
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 90%;
      padding-top: 100px;
      padding-left: 140px;
  }

  .slick-slide {
    margin: 0px 10px;
  }

  .slick-slide img {
    width: 100%;
  }

  .img_box{width: 300px; height: 150px;}
  .img_box img{width: 100%; height: 100%;}

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }