*{margin:0;padding:0}

body{height: 919px;
    font-family:'Roboto', sans-serif;
/*    background-color: rgba(235, 202, 100, 0.81);*/
background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

html, body {
	overflow-x: hidden !important;
	font-weight: 400;
}

/*탭 메뉴*/
    a{text-decoration:none}
    ul{list-style-type:none}
    .tab-menu{width:150px;margin:0 auto;margin-top:-200px;margin-left:-100px;font-size: 15px;}
    .tab-menu ul{display:flex}
    .tab-menu li{flex:1;height:110px;}
    .tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:hsl(40, 100%, 96%);text-transform:uppercase;text-align:center;color:#000;line-height:25px;border-top-left-radius: 25px;border-top-right-radius: 25px;border-collapse: collapse;border: solid 1px #f1d4bf;box-sizing: border-box;border-bottom: 0px;border-right: 0px;padding-top: 5px;}
    .tab-menu li a.selected{background-color:#f1d0bf;cursor:default}
    #one {width:60px;margin: 0;font-size: 15px;position: absolute;margin-left: -160px;margin-top:40px;}
    #one ul{display: flex}
    #one li{flex: 1;height: 40px}
    #one li a{position:relative;display:block;width:100%;height:100%;background-color:hsl(40, 100%, 96%);text-transform:uppercase;padding-left: 10px; color:#000;line-height:24px;border-top-left-radius: 15px;border-bottom-left-radius: 15px;border-collapse: collapse;border: solid 1px #f1d4bf;box-sizing: border-box;padding-top: 5px}
    #one li a.selected{background-color:#f1d0bf;cursor:default}
    .tab-container{width:150px;margin:0 auto;margin-left:-100px;border:1px solid #f1d4bf;box-sizing:border-box;background-color:hsl(40, 100%, 96%);border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;}
    .tab-container .tab-content{display:none;padding-top: 20px;height:100px;box-sizing:border-box;text-align:center}
     .tab-container .tab-content.selected{display:block} 

.hide{visibility: hidden}

.tab-container2{width:700px;margin:0 auto;margin-top: 20px; border:0px solid #000;box-sizing:border-box;z-index: -1000;}
    .tab-container2 .tab-content2{display:none;padding:40px;height:500px;box-sizing:border-box;margin: 0 auto}
     .tab-container2 .tab-content2.selected{display:block;background-color: #e0cfc2} 
#title{font-family: 'Georgia';font-size:40px;color: rgba(252, 114, 114, 0.54);margin: 50px auto 35px;text-align: center}

#hand{position: absolute; margin-top: 600px;margin-left: 1700px;}



/*LP플레이어*/
.player-container {
	position: absolute;
	margin: 0 auto;
    text-align: center;
	left: 0;
	right: 0;
	margin-top: -100px;
    margin-left: -200px;
}

.player-album {
	position: absolute;
	z-index: 15;
	border-radius: 2px;
	transform: translateX(0);
	transition: all 0.2s ease-out;
    
}

.player-album.active {
	transform: translateX(-50px);
	transition: all 0.2s ease-out;
}

.player-vinyl {
    width: 190px;
	position: absolute;
	z-index: 10;
	top: 5px;
	left: 1065px;
	transform-origin: center middle;
	transition: all 0.2s ease-out;
}

.player-vinyl.active {
	position: absolute;
	transform: translateX(50px);
	transform-origin: center middle;
	transition: all 0.2s ease-out;
}

.player-vinyl.playing {
	position: absolute;
	transform: translateX(50px);
	transform-origin: center middle;
	animation: playing 1.4s infinite linear;
}

.player-shadow {
    width: 280px;
	position: absolute;
	z-index: 9;
	top: 145px;
    margin-left: -40px;
	transform: translateX(0);
	transition: all 0.05s ease-out;
}

.player-vinyl.active ~ .player-shadow {
	position: absolute;
	transform: translateX(50px);
	transition: all 0.2s ease-out;
}

@keyframes playing {
	0% {
		transform: translateX(50px) rotate(0);
	}
	100% {
		transform: translateX(50px) rotate(360deg);
	}
}

.player-container2 {
	position: absolute;
	margin: 0 auto;
    text-align: center;
	left: 0;
	right: 0;
	margin-top: -100px;
    margin-left: -200px;
}

.player-album2 {
	position: absolute;
	z-index: 5;
	border-radius: 2px;
	transform: translateX(0);
	transition: all 0.2s ease-out;
    
}

.player-album2.active {
	transform: translateX(-50px);
	transition: all 0.2s ease-out;
}

.player-vinyl2 {
    width: 190px;
	position: absolute;
	z-index: 4;
	top: 5px;
	left: 1065px;
	transform-origin: center middle;
	transition: all 0.2s ease-out;
}

.player-vinyl2.active {
	position: absolute;
	transform: translateX(50px);
	transform-origin: center middle;
	transition: all 0.2s ease-out;
}

.player-vinyl2.playing {
	position: absolute;
	transform: translateX(50px);
	transform-origin: center middle;
	animation: playing 1.4s infinite linear;
}

.player-shadow2 {
    width: 280px;
	position: absolute;
	z-index: 3;
	top: 145px;
    margin-left: -40px;
	transform: translateX(0);
	transition: all 0.05s ease-out;
}

.player-vinyl2.active ~ .player-shadow2 {
	position: absolute;
	transform: translateX(50px);
	transition: all 0.2s ease-out;
}

@keyframes playing {
	0% {
		transform: translateX(50px) rotate(0);
	}
	100% {
		transform: translateX(50px) rotate(360deg);
	}
}


/*테이블*/
table{margin: 0 auto;text-align: center}
table td{width:550px;height: 210px;}
.text{line-height: 1.5;vertical-align: top;padding-top: 20px;}
.text h3{font-size: 28px;margin-bottom: 10px;letter-spacing: 0.5px;}
.text h4{font-size: 20px;letter-spacing: 0.4px;margin-bottom: 15px;}
.text ol{width: 250px;margin: 0 130px 0 auto}
.text ol li{text-align: left; padding-left: 30px;}

span.comment{font-size: 13px;color:#bf4e45;}


/*캐러셀 실패 정리*/
.flipster{padding-left:100px; }
.flip-items {
    overflow: scroll;
    width: 400px;
    height: 400px;
    text-align: center
}