html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color: #f8f8ff;
    background-image: url("./img/back.jpeg");
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

h1{
    font-family: 'Ranga', cursive;
    font-size: 80px;
    margin: 70px 0 0 450px;
}
input, select {
    vertical-align:middle;
}

ul,ol,li{list-style-type:none}

.gallery{width:800px;margin-right:auto;margin-left:auto;padding-top:0px;}

.gallery .view{overflow:hidden;position:relative;width:100%;height:800px}

.gallery .view .view-container{position:absolute;top:0;left:0;width:100%;height:100%}

.gallery .view-container::after{content:"";display:block;position:relative;clear:both}

.gallery .view-container .view-item{float:left;width:100%;height:100%}

.gallery .view-item img{display:inline-block;width:100%;vertical-align:top;}
/* .gallery .view-item img{display:inline-block;width:100%;height:100%;vertical-align:top;object-fit:cover} */
/* .list{margin-top:20px;margin-right:10px;margin-left:10px} */

.list{margin-top:40px;margin-right:0px;margin-left:70px}

.list li{display:inline-block;width:30%;padding-right:0px;padding-left:0px;vertical-align:top;box-sizing:border-box}

.list li a{display:block;position:relative;width:100%;cursor:pointer}

.list li a img{display:inline-block;width:100%;vertical-align:top}
/* .list li a::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.2);opacity:0.0} */

.list li a::before{
        content:"";
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border:0px solid #008080;
        box-sizing:border-box;
        -webkit-transition:border 120ms ease-in-out;
        -moz-transition:border 120ms ease-in-out;
        -o-transition:border 120ms ease-in-out;
        -ms-transition:border 120ms ease-in-out;
        transition:border 120ms ease-in-out
}
.list li.selected a{cursor:default}
/* .list li.selected a::before{opacity:1.0} */
.list li a:hover::before,.list li.selected a::before{border-width:4px}

/*
.gallery{width:800px;margin:0 auto;padding-top:80px}
ul{list-style-type:none}
.view{position:relative;width:800px;height:500px}
.view-item{display:none;position:absolute;width:100%}
.view-item.selected{display:block}
.view-item img{display:block;width:100%}
.list{position:relative;width:760px;padding:30px 20px}
.list li{display:inline-block;width:175px;vertical-align:top}
.list li + li{padding-left:20px}
.list li a{display:block;position:relative}
.list li.selected a{cursor:default}
.list li.selected a::after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box}
.list li img{display:block;width:100%}
*/