<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> -->
    <meta name="viewport" content="width=1000, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
<h1 class="blind">Layout</h1>
<header id="global-header">
    <nav id="global-nav" role="navigation">
        <!-- #아이디 -->
        <!-- .클래스 -->
        <!-- ul#gn-list.gn-list.c1.c2.c3.c4>li.gn-item*4>a>span -->
        <ul id="gn-list" class="gn-list">
            <li class="gn-item"><a href="#menu1"><span>Menu 1</span></a></li><li class="gn-item">
                <a href="#menu1"><span>Menu 2</span></a></li><li class="gn-item">
                <a href="#menu1"><span>Menu 3</span></a></li><li class="gn-item">
                <a href="#menu1"><span>Menu 4</span></a></li>
        </ul>
    </nav>
</header>
<main id="main" class="content">
    <section class="section">
        <div class="section-content">
            <h2>Section 1</h2>
        </div>
    </section>
    <section class="section">
        <div class="section-content">
            <h2>Section 2</h2>
        </div>
    </section>
    <section class="section">
        <div class="section-content">
            <h2>Section 3</h2>
        </div>
    </section>
    <section class="section">
        <div class="section-content">
            <h2>Section 4</h2>
        </div>
    </section>
</main>
<footer id="global-footer">
    <div class="gf-content">
        <h2>Footer</h2>
    </div>
</footer>
</body>
</html>