
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  *{margin:0;padding:0}
  body{font-family:'Roboto', sans-serif}
  a{text-decoration:none}
  ul{list-style-type:none}
  .tab-menu{width:800px;margin:0 auto;margin-top:50px}
  .tab-menu ul{display:flex}
  .tab-menu li{flex:1;height:30px}
  .tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:#999;text-transform:uppercase;text-align:center;color:#fff;line-height:30px}
  .tab-menu li a.selected{background-color:#000;cursor:default}
  .tab-container{width:800px;margin:0 auto;border:1px solid #000;box-sizing:border-box}
  .tab-container .tab-content{display:none;padding:30px;height:500px;box-sizing:border-box}
  .tab-container .tab-content.selected{display:block} 

  .photos-list {
    margin:0;
    padding:0;
    list-style:none;
  }

  .photos-list li{
    display:inline-block;
  /*   musthave style */
    position:relative;
  }

  .photos-list li span{
    display:none;
    bottom:0;
    left:0;
    width:100%;
    position:absolute;
  /*   custom style */
    background-color:#838383;
    padding:10px;
    box-sizing:border-box;
  
  }

  .tab-content img{
      width: 450px;
  }
  