
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{margin:0;padding:0}
body{font-family:'Roboto', sans-serif;
background: black;
color:white;}
a{text-decoration:none}
ul{list-style-type:none}
.tab-menu{width:1200px;margin:0 auto;margin-top:50px;}
.tab-menu ul{display:flex}
.tab-menu li{flex:1;height:50px;}
.tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:rgb(255, 132, 208);
  font-size:14pt;
text-transform:uppercase;text-align:center;color:#fff;line-height:50px;}
.tab-menu li a.selected{background-color:rgb(150, 14, 132);cursor:default;
color:rgb(255, 255, 255);}
.tab-container{width:1200px;margin:0 auto;border:1px solid rgb(150, 14, 132);box-sizing:border-box}
.tab-container .tab-content{display:none;padding:30px;height:500px;box-sizing:border-box}
 .tab-container .tab-content.selected{display:block} 



.IU{
  float: left;
  width: 25%;
  margin-top:2%;
  margin-left:15%;
}
.box1-title{
  font-size:16pt;
  margin-bottom: 15px;
  
}
.box1 {
  float: right;
  margin-right: 15%;
  font-size :12pt;
  margin-top:7%;
  line-height: 200%;
}
.title{
  text-align: center;
  padding-top:2%;
  font-size:60pt;
}
.line{
  position: absolute;
  z-index:-5;
  left:50%; 
  transform:translateX(-50%);
  top:-20px;
}
.Album-pic{
  width:18%;
  margin-top:5%;     
    margin-left:5%;
  float:left;
}
.pic{
  margin-top:10px;
}
.act{
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
}
.act-title{
  font-size:16pt;
  margin-bottom: 15px;
}
.act-box{
  float: right;
  margin-right: 20%;
  font-size :12pt;
  margin-top:7%;
  line-height: 250%;
}
.Award{
  float: left;
  width: 25%;
  margin-top:2%;
  margin-left:15%;
}
.box2-title{
  font-size:16pt;
  margin-bottom: 15px;
  
}
.box2 {
  float: right;
  margin-right: 15%;
  font-size :12pt;
  margin-top:7%;
  line-height: 200%;
}    
