
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block
}
body{
	line-height:1
}
ol,ul{
	list-style:none
}
blockquote,q{
	quotes:none
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:'';
	content:none
}
table{
	border-collapse:collapse;
	border-spacing:0
}


/* Layout */
body{font-family:'Roboto',sans-serif;font-size:12px;line-height:18px}
button{margin:0;padding:0;outline:none;font-family:'Roboto',sans-serif}
button{display:inline-block;height:40px;padding-right:20px;padding-left:20px;background-color:#222;border:1px solid #222;border-radius:2px;color:#fff;line-height:40px;cursor:pointer}
button:hover{background-color:#fff;color:#222;border:1px solid #222}
button + button{margin-left:10px}
#div{padding:20px;font-size:40px;line-height:60px}
.style1{color:red}
.style2{background-color:gray}
.style3{text-decoration:underline}
#btn1{margin-top:30px;margin-left:20px}
.mouse{width:100px;height:100px;margin:20px;background-color:blue;transition:all 400ms ease-in-out}
.animated1{border-radius:50%}
.animated2{background-color:red}
.animated3{width:200px;height:200px}