html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    text-align: center;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ___________________________________________________________ */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap');
*{margin:0;padding:0}
body{font-family: 'Muli','Montserrat', sans-serif;background-color: black;}
a{text-decoration:none}
ul{list-style-type:none}
.tab-menu{width:1280px;margin:0 auto;margin-top:50px;margin-bottom: 30px;}
.tab-menu ul{display:flex}
.tab-menu li{flex:1;height:40px;font-size: 17px;}
.tab-menu li a{position:relative;display:block;width:100%;height:100%;background-color:black;text-align:center;color:#fff;line-height:40px;opacity: 1;}
.tab-menu li a.selected{background-color:white;cursor:default;color: black;}
.tab-menu li a:hover{background-color: rgb(255, 255, 255); color: black;transition: all 0.5s ease;}
.tab-container{width:1280px;height:540px;margin:0 auto;border:0px solid white;box-sizing:border-box;margin-bottom: 65px;color: white;}
.tab-container .tab-content{display:none;padding:30px;height:500px;box-sizing:border-box;}
.tab-container .tab-content.selected{display:block}
.tab-content{font-weight: lighter;}

/* ___________________________________________________________ */

#logo{text-align: center;padding-top: 50px;}
#logo img{width: 95px;}

/* ___________________________NCT U___________________________ */

.title{
    font-size: 37px;
    font-weight: bolder;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}
.title_text{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}
.main_text{
    padding-top: 40px;
    font-size: 17px;
    line-height: 23px;
}
.main_image img{
    width: 800px;
    padding-top: 40px;
}
.seventh{
    padding: 100px 0 40px 0;
    text-align: center;
}
h1{
    font-size: 25px;
}
h3{
    padding-top: 100px;
    font-size: 25px;
    font-weight: 500;
}
.member{
    padding-top: 40px;
    padding-bottom: 40px;
}
.member_img{
    display: inline;
    position: relative;
    display: inline-block;
    padding: 30px 30px 30px 30px;
}
.member_img img{
    display: block;
    width: 240px;
}
.member_img:hover .member_hover{
    width: 100%;
    opacity: 0.7;
}
.member_hover{
    display: inline;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
}
.member ul{
    list-style-type: none;
}
.member li{
    display: inline;
}
.member_hover_text{
    font-size: 25px;
    font-weight: 300;
}
.without{
    padding: 100px 0 40px 0;
    text-align: center;
}
.boss{
    padding: 100px 0 40px 0;
    text-align: center;
}
.boss .member_img{
    display: inline;
    position: relative;
    display: inline-block;
    padding: 20px 20px 20px 20px;
}
.baby{
    padding: 100px 0 40px 0;
    text-align: center;
}
.baby .main_image img{
    width: 500px;
}

/* ________________________NCT 127_________________________ */

.nctonetwoseven .member .member_img img{
    width: 220px;
}
.nctonetwoseven .member .member_img{
    padding: 20px 20px 20px 20px;
}
.nctonetwoseven{
    padding-bottom: 80px;
}
.nct_table{
    width: 60%;
    text-align: center;
    vertical-align: middle;
    padding-top: 60px;
    padding-bottom: 40px;
    margin: auto;
}
.nct_table img{
    width: 120px;
    margin: 10px;
}
.nct_table table,th,tr,td{
    border: solid 1px white;
    vertical-align: middle;
}
.nct_table th{
    font-size: 17px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
}

/* ________________________NCT dream_______________________ */

.nctdream{
    padding-bottom: 80px;
}


/* ________________________NCT 2018_______________________ */

.ncttwozerooneeight{
    padding-bottom: 80px;
}
.ncttwozerooneeight .main_image img{
    width: 600px;
}
.ncttwozerooneeight .member .member_img img{
    width: 150px;
}
.ncttwozerooneeight .member .member_img{
    padding: 15px;
}

/* _________________________WayV________________________ */

.wayv{
    padding-bottom: 80px;
}