html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;padding:0}
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hgroup,p,blockquote,figure,form,fieldset,input,legend,pre,abbr,button{margin:0;padding:0}
pre,code,address,caption,th,figcaption{font-size:1em;font-weight:normal;font-style:normal}
fieldset,iframe,abbr,img{border:0}
caption,th{text-align:left}
table{border-collapse:collapse;border-spacing:0}
article,aside,footer,header,nav,main,section,summary,details,hgroup,figure,figcaption{display:block}
audio,canvas,video,progress{display:inline-block;vertical-align:baseline}
button{background:none;border:0;-webkit-box-sizing:content-box;box-sizing:content-box;color:inherit;cursor:pointer;font:inherit;line-height:inherit;overflow:visible;vertical-align:inherit}
button:disabled{cursor:default}
h1,h2,h3,h4,h5,h6{color:#111}
a{color:#0070c9}
a:link,a:visited{text-decoration:none}
a:hover{text-decoration:underline}
a:active{text-decoration:none}
b,strong{font-weight:600}
em,i,cite,dfn{font-style:italic}
:focus{outline:3px solid #c1e0fe;outline:3px solid rgba(131,192,253,0.5);outline-offset:1px}
:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select){outline:none}
::-moz-focus-inner{border:0;padding:0}
@media print{
    body,#main{color:#000}
    a,a:link,a:visited{color:#000;text-decoration:none}
    #global-nav,#global-footer,.noprint{display:none}
}
html{font-family:"Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif}
body{background-color:#fff;color:#333;font-style:normal;font-size:12px;font-weight:400;line-height:18px;letter-spacing:0}
body,input,textarea,select,button{text-align:left;font-synthesis:none;-moz-font-feature-settings:'kern';-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;direction:ltr}
.blind{display:none;visibility:hidden}
html{--gn-height:40px}
#global-nav{position:fixed;display:block;z-index:9999;top:0;right:0;left:0;width:100%;min-width:1024px;height:40px;background-color:rgba(255,255,255,0.95);border-bottom:1px solid #ddd;-webkit-backdrop-filter:saturate(180%) blur(20px);backdrop-filter:saturate(180%) blur(20px)}
#global-nav .gn-content{max-width:980px;height:100%;margin-right:auto;margin-left:auto;padding-right:22px;padding-left:22px;padding-left:calc(max(22px, env(safe-area-inset-left)));padding-right:calc(max(22px, env(safe-area-inset-right)));}
#global-nav ul{list-style:none}
#global-nav .gn-list{width:auto;height:100%;margin-right:-10px;margin-left:-10px}
#global-nav .gn-list li{display:inline-block;height:100%;vertical-align:top}
#global-nav .gn-list li a{display:inline-block;height:100%;padding-right:10px;padding-left:10px;color:#111;font-size:14px;line-height:40px}
#global-nav .gn-list li a span{display:block}
#main{position:relative;max-width:2560px;margin-right:auto;margin-left:auto}
#main .section{width:100%;height:calc(100vh - var(--gn-height));color:#fff;box-sizing:border-box}
#main .section:first-child{height:100vh;padding-top:var(--gn-height)}
#main .section:nth-child(1){background-color:#000}
#main .section:nth-child(2){background-color:#111}
#main .section:nth-child(3){background-color:#222}
#main .section:nth-child(4){background-color:#333}
#main .section .section-content{width:980px;height:calc(100vh - var(--gn-height));margin-right:auto;margin-left:auto}
#main .section .section-content h2{color:#fff;font-size:16px;line-height:22px}
#global-footer{position:relative;width:100%;height:80px;background-color:#999}
#global-footer::before{content:"";display:block;position:absolute;top:0;right:0;left:0;width:100%;height:0;border-top:1px solid #fff}
#global-footer .gf-content{width:980px;margin-right:auto;margin-left:auto;text-align:center;padding-top:20px;padding-bottom:40px}
#global-footer .gf-content h2{color:#fff;font-size:12px;font-weight:400;line-height:20px}
.notice{display:block;position:fixed;z-index:10000;bottom:0;left:0;padding:10px;background-color:#fff;border-top-right-radius:4px;border-bottom-right-radius:4px;color:#000;font-size:12px;line-height:20px}
.notice::before{content:"--"}
@media only screen and (min-width:1920px){
    .notice::before{content:"1920px ~"}
}
@media only screen and (min-width:1440px) and (max-width:1919px){
    .notice::before{content:"1440px ~ 1919px"}
}
@media only screen and (min-width:1280px) and (max-width:1439px){
    .notice::before{content:"1280px ~ 1439px"}
}
@media only screen and (min-width:1024px) and (max-width:1279px){
    .notice::before{content:"1024px ~ 1279px"}
}
@media only screen and (max-width:1023px){
    #global-nav{min-width:320px}
    #global-nav .gn-list{margin-right:inherit;margin-left:inherit}
    #global-nav .gn-content{padding-right:12px;padding-left:12px;padding-left:calc(max(12px, env(safe-area-inset-left)));padding-right:calc(max(12px, env(safe-area-inset-right)));box-sizing:border-box}
    #main .section .section-content{width:100%;padding-right:22px;padding-left:22px;padding-left:calc(max(22px, env(safe-area-inset-left)));padding-right:calc(max(22px, env(safe-area-inset-right)));;box-sizing:border-box}
    #global-footer .gf-content{width:100%}
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .notice::before{content:"768px ~ 1023px"}
    #global-nav{background-color:red}
}
@media only screen and (min-width:586px) and (max-width:767px){
    .notice::before{content:"586px ~ 767px"}
    #global-nav{background-color:blue}
}
@media only screen and (min-width:414px) and (max-width:585px){
    .notice::before{content:"414px ~ 585px"}
    #global-nav{background-color:yellow}
}
@media only screen and (min-width:375px) and (max-width:413px){
    .notice::before{content:"375px ~ 413px"}
    #global-nav{background-color:purple}
}
@media only screen and (min-width:320px) and (max-width:374px){
    .notice::before{content:"320px ~ 374px"}
    #global-nav{background-color:green}
}
@media only screen and (max-width:319px){
    .notice::before{content:"~ 319px"}
    #global-nav{background-color:orange}
}