/* Reset CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* Layout */
:root{
    --global-header-height:40px
}
html{}
body::after{
    content:'';display:block;position:fixed;z-index:9999;top:0;left:0;width:100px;height:20px;background-color:blue;color:white
}
body{
    position:relative;
    color:#000;
    font-family:"Apple Gothic","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size:12px;
    line-height:18px
}
.blind{display:none !important;visibility:hidden !important}
/* #global-header{overflow:hidden;position:fixed;z-index:9999;top:0;right:0;left:0;width:100%;height:40px;background-color:#fff} */
#global-header{overflow:hidden;position:fixed;z-index:9999;top:0;right:0;left:0;width:100%;height:var(--global-header-height);background-color:#fff}
#global-header::before{content:'';display:block;position:absolute;bottom:0;right:0;left:0;width:100%;height:0;border-top:1px solid #ddd}
#global-header::after{}
/* #global-header #global-nav{min-width:320px;max-width:980px;margin-right:auto;margin-left:auto;padding-right:22px;padding-left:22px;box-sizing:content-box} */
#global-header #global-nav{max-width:1024px;margin-right:auto;margin-left:auto;padding-right:22px;padding-left:22px;box-sizing:border-box}
/*22 + 980 + 22 = 1024px */
#global-nav #gn-list{margin-right:-10px;margin-left:-10px}
#gn-list li{display:inline-block;vertical-align:top}
/* #gn-list li{float:left} */
#gn-list li a{display:inline-block;padding:10px;color:#333;text-decoration:none;font-size:14px;line-height:20px}
#gn-list li a span{}

#main{position:relative}
#main .section{position:relative;width:100%;height:100vh;color:#fff}
#main .section:nth-child(1){background-color:#000}
#main .section:nth-child(2){background-color:#111}
#main .section:nth-child(3){background-color:#222}
#main .section:nth-child(4){background-color:#333}
/*
vw, vh
viewport 의 width : 100vw === (js) window.innerWidth
viewport 의 height : 100vh === (js) window.innerHeight
*/
.section .section-content{max-width:1024px;margin-right:auto;margin-left:auto;padding-right:22px;padding-left:22px;box-sizing:border-box}
/* #main .section:first-child .section-content{padding-top:40px} */
#main .section:first-child .section-content{padding-top:var(--global-header-height)}

@media only screen and (max-width:768px) {
    :root{
        --global-header-height:80px
    }   
}
@media only print {
    /* 화면을 인쇄할 때의 스타일을 지정 */
    #global-header{display:none !important;visibility:hidden !important}
    #global-footer{display:none !important;visibility:hidden !important}
    a{color:#000;text-decoration:none !important}
}
@media only screen {

}
/*
@media only screen and (조건) {

}
min-width max-width min-height max-height...
*/
/* 브라우저 화면의 가로폭이 1024px 보다 커지면 안의 스타일이 변경.
1024px ~ 무한.
*/
@media only screen and (min-width:1024px) {
    body::after{content:'1024px ~'}
}
/* 브라우저 화면의 가로폭이 1023px 보다 작은 경우 안의 스타일이 변경.
0px ~ 1023px
*/
@media only screen and (max-width:1023px) {
    body::after{content:'~ 1023px'}
    #global-header{background-color:purple}
    #gn-list li a{color:yellow}
}
/* 브라우저 화면의 가로폭이 768px ~ 1023px 의 스타일이 변경. */
@media only screen and (min-width:768px) and (max-width:1023px) {
    body::after{content:'768px ~ 1023px'}
    #global-header{background-color:yellow}
    #global-header #global-nav{padding-right:60px;padding-left:60px}
    #global-nav #gn-list{margin-right:-20px;margin-left:-20px}
    #gn-list li a{color:purple}
}