.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

*{margin:0;padding:0}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
} 

body{    
    background-color: #ded7ce;
    text-align: center;   
    margin-bottom: 100px;
}
.h1{
    font-family: 'Racing Sans One', cursive;
    color: #3a3a3a;
    font-size: 70px;
    margin-top: 130px;
    margin-bottom: 80px;
}
table, tr, th, td {
    text-align: center;
    margin-bottom: 100px;
}
a{
    text-decoration:none
}
p{
    margin-left: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #828282;
}
div #puta {
    margin-left: 250px;
    text-align: center;
    font-size: 30px;
    font-family: 'Racing Sans One', cursive;
    font-weight: bolder;
    color: #3a3a3a;
    margin-top: 20px;
    line-height:1.5;
    text-transform:uppercase;
    position:absolute;
    animation:glow 10s ease-in-out infinite; 
    display:block;
}
div #lapu {
    margin-left: 300px;
    text-align: center;
    font-size: 30px;
    font-family: 'Racing Sans One', cursive;
    font-weight: bolder;
    color: #3a3a3a;
    margin-top: 20px;
    line-height:1.5;
    text-transform:uppercase;
    position:absolute;
    animation:glow 10s ease-in-out infinite; 
    display:block; 
}
div #lata {
    margin-left: 180px;
    text-align: center;
    font-size: 30px;
    font-family: 'Racing Sans One', cursive;
    font-weight: bolder;
    color: #3a3a3a;
    margin-top: 20px;
    line-height:1.5;
    text-transform:uppercase;
    position:absolute;
    animation:glow 10s ease-in-out infinite; 
    display:block;  
}
div .title {
    margin-left: 20px;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-weight: bolder;
    font-size: 40px;
    line-height:1.5;
    text-transform:uppercase;
    /* position:absolute; */
    animation:glow 10s ease-in-out infinite; 
    display:block; 
}
div .crew {
    margin-left: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #828282;
}
ul{
    list-style-type:none
}
.tab-content #cheese {
    margin-top: 50px;
    margin-left: 20px;
}
.tab-content #laputa {
    margin-top: 50px;
    margin-left: 20px;
}
.tab-content #right{
    margin-top: 50px;
    margin-left: 20px;
}
.tab-menu{
    width:800px;margin:0 auto;margin-top:140px
}
.tab-menu ul{
    display:flex
}
.tab-menu li{
    flex:1;height:30px
}
.tab-menu li a{
    position:relative;
    display:block;
    width:100%;
    height:100%;
    background-color:#3a3a3a;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    line-height:30px
}
.tab-menu li a.selected{
    background-color:#ded7ce;
    cursor:default
}
.tab-container{
    width:800px;
    margin:0 auto;
    /*border:1px solid #000;*/
    box-sizing:border-box
}
.tab-container .tab-content{
    display:none;
    padding:30px;
    height:500px;
    box-sizing:border-box
}
 .tab-container .tab-content.selected{
     display:block
    } 
.tab-container .tab-content.selected #profile {
    text-align: center;
}
img {
    margin: 50px 100px 50px 120px;
    width: 500px;
    height: 500px;
}


  