@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block
}
body{
	line-height:1
}
ol,ul{
	list-style:none
}
blockquote,q{
	quotes:none
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:'';
	content:none
}
table{
	border-collapse:collapse;
	border-spacing:0
}


/* Layout */
body{font-family:'Roboto',sans-serif;font-size:12px;line-height:18px}
button,input{margin:0;padding:0;outline:none;font-family:'Roboto',sans-serif}
label,input{display:inline-block;padding-top:9px;padding-bottom:10px;border:none;line-height:20px}
.blind{display:none;visibility:hidden}
h2,legend{font-weight:700}
form{width:600px}
.form-row{display:flex;margin:30px;padding:5px 10px}
.form-row .form-title{width:100px}
.form-row .form-input{flex:1}
.form-row .form-input input{width:100%;box-sizing:border-box;border-bottom:1px solid #222}
.form-util{display:flex}
.form-util button{flex:1}
.form-fields + .form-util{margin-top:20px}
.row{display:block;margin:30px 10px}
.section{padding-top:15px;padding-bottom:15px}
.section p + p{padding-top:10px}
ul{display:block;padding:30px 10px}
ul li{display:block}
ul li + li{padding-top:20px}
button{display:inline-block;height:40px;padding-right:20px;padding-left:20px;background-color:#222;border:1px solid #222;border-radius:2px;color:#fff;line-height:40px;cursor:pointer}
button:hover{background-color:#fff;color:#222;border:1px solid #222}
button + button{margin-left:10px} 