@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean');
*{margin:0;padding:0}
body{
    font-family:'Roboto', sans-serif;
    background-color: #000;
}
a{
    text-decoration:none
}
ul{
    list-style-type:none
}
.tab-menu{
    width:800px;margin:0 auto;margin-top:50px
}
.tab-menu ul{
    display:flex
}
.tab-menu li{
    flex:1;height:30px
}
.tab-menu li a{
    font-family: 'Waiting for the Sunrise', cursive;
    position:relative;
    display:block;
    width:100%;height:100%;background-color:#3E7EC7;
    text-transform:uppercase;text-align:center;color:#fff;line-height:30px}
.tab-menu li a.selected{
    background-color:rgb(250, 184, 184);
    cursor:default
}
.tab-container{width:800px;margin:0 auto;
    border:1px solid #000;box-sizing:border-box
}
.tab-container .tab-content{
    display:none;padding:30px;height:500px;box-sizing:border-box;
    background-color: #000
}
.tab-container .tab-content.selected{
    display:block} 
h1{
    padding: 30px 0 0 ;
    color:white;
    font-size: 35px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: lighter;
    margin-top: 30px;
    
    
}
.video{margin-left:90px; 
       margin-top:40px;}
.img{
    margin-left: 120px;
    margin-top:45px;
}
#still{
    margin-top:30px;
    margin-left: 140px;
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 45px;
}
p {
    color: #fff;
    font-size: 10px;
    margin-left: 90px;
    margin-top: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
h2{
    color: #fff;
    font-size: 11px;
    margin-left: 90px;
    font-family: 'Noto Sans KR', sans-serif;
}

#sen {
    margin-top:45px;
    margin-left: 90px;
    font-family: 'Noto Sans KR', sans-serif;
}
.intro p {
    font-size: 10px;
}
.intro h2 {
    font-size: 10px;
}
.pos {
    margin-left: 20px;
}
#poster {
    margin-top: 30px;
    margin-left: 140px;
    font-size: 10px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-bottom: 45px;
}
/*.cha{
    margin-top:45px;
    margin-left: 90px;
    float: left;
}
/*.intro {
    float: left;
    margin-top:45px;
    margin-left: 10px;
 
}
*/
/*.intro p {
    margin-left: 90px;
    font-size: 10px;
}
.intro h2 {
    margin-left: 90px;
    font-size: 10px;
}*/

